.sbgbackground {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.x-livesearch-match {
    background-color: yellow;
}

.searchfield {

}

.topborder {
    border-top: 1px solid #23548D;
}

.warning {
    background-color: silver;
}

.deleted {
    text-decoration: line-through;
}

.added {
    background-color: yellow;
}