.sbgbackground {
    background-image: url(images/banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.x-livesearch-match {
    background-color: yellow;
}

.searchfield {

}

.x-tree-node-text {
    font-family: Verdana;
}

.topborder {
    border-top: 1px solid #23548D;
}

.warning {
    background-color: silver;
}

.deleted {
    text-decoration: line-through;
}

.added {
    background-color: yellow;
}

.handbookNewBodyStyle {

    ol {
        list-style-type: none !important;
        margin: 0 !important;
    }
    ol li:before { content: "(" counter(section, lower-alpha) ") "; letter-spacing: 1px; }
    ol li { counter-increment: section; }

    ol ol {
        list-style-type: none !important;
    }
    ol ol li:before { content: "(" counter(section, decimal) ") "; }
    ol ol li:first-of-type { counter-reset: section; }

    ol ol ol {
        list-style-type: none !important;
    }
    ol ol ol li:before { content: "(" counter(section, lower-roman) ") "; }


    ol ol ol ol { list-style-type: none !important;}
	ol ol ol ol li:before { 
        content: "(" counter(section, upper-alpha) ") ";
    }
}










/* ui mixin: readabletext for of type: extjs-panel-ui */
$ui-readabletext-ui-body-font-family: Verdana, Geneva, sans-serif;
@if $include-ext-panel-panel != false {
  @include extjs-panel-ui ($ui:'readabletext', $ui-border-color: $panel-border-color, $ui-border-radius: $panel-border-radius, $ui-border-width: $panel-border-width, $ui-padding: 0, $ui-header-color: $panel-header-color, $ui-header-font-family: $panel-header-font-family, $ui-header-font-size: $panel-header-font-size, $ui-header-font-weight: $panel-header-font-weight, $ui-header-line-height: $panel-header-line-height, $ui-header-border-color: $panel-header-border-color, $ui-header-border-width: $panel-header-border-width, $ui-header-border-style: $panel-header-border-style, $ui-header-background-color: $panel-header-background-color, $ui-header-background-gradient: $panel-header-background-gradient, $ui-header-inner-border-color: $panel-header-inner-border-color, $ui-header-inner-border-width: $panel-header-inner-border-width, $ui-header-text-padding: $panel-header-text-padding, $ui-header-text-margin: $panel-header-text-margin, $ui-header-text-transform: $panel-header-text-transform, $ui-header-padding: $panel-header-padding, $ui-header-icon-width: $panel-header-icon-width, $ui-header-icon-height: $panel-header-icon-height, $ui-header-icon-spacing: $panel-header-icon-spacing, $ui-header-icon-background-position: $panel-header-icon-background-position, $ui-header-glyph-color: $panel-header-glyph-color, $ui-header-glyph-opacity: $panel-header-glyph-opacity, $ui-header-noborder-adjust: $panel-header-noborder-adjust, $ui-tool-spacing: $panel-tool-spacing, $ui-tool-background-image: $panel-tool-background-image, $ui-body-color: $panel-body-color, $ui-body-border-color: $panel-body-border-color, $ui-body-border-width: $panel-body-border-width, $ui-body-border-style: $panel-body-border-style, $ui-body-background-color: $panel-body-background-color, $ui-body-font-size: $panel-body-font-size, $ui-body-font-weight: $panel-body-font-weight, $ui-body-font-family: $ui-readabletext-ui-body-font-family, $ui-background-stretch-top: $panel-background-stretch-top, $ui-background-stretch-bottom: $panel-background-stretch-bottom, $ui-background-stretch-right: $panel-background-stretch-right, $ui-background-stretch-left: $panel-background-stretch-left, $ui-include-border-management-rules: $panel-include-border-management-rules, $ui-wrap-border-color: null, $ui-wrap-border-width: null, $ui-ignore-frame-padding: $panel-ignore-frame-padding);
}
